.idea/

bin/
obj/
Data
Migrations/
appsettings.json
appsettings.Development.json
/packages/
riderModule.iml
/_ReSharper.Caches/

/my-drive-client/node_modules
/my-drive-client/.cert
my-drive-client/.env.*
my-drive-client/package.json
my-drive-client/package-lock.json
my-drive-client/tsconfig.json
my-drive-client/public/manifest.json
